<%= form_for @message do |f| %>

<%= f.hidden_field :receiver_id, :value => params[:user_id]%>
<%= f.hidden_field :user_id, :value => params[:user_id]%>

  <p>
 <%= f.label :subject %><br />
 <%= f.text_field :subject %>
  </p>
  <p>
 <%= f.label :description %><br />
 <%= f.text_area :description %>
  </p>
  
 <p><%= f.submit "Submit" %></p>
<% end %>


